.section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3rem;
}
.section-heading {
  text-align: center;
  font-size: 2rem;
}
.most-sold-products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.most-sold-product {
  min-height: 18rem;
  max-height: 24rem;
}

@media screen and (max-width: 1024px) {
  .most-sold-products {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .most-sold-products {
    grid-template-columns: repeat(2, 1fr);
  }
}
