.navbar-logo-container {
  height: clamp(3rem, 10vw, 4rem);
}
.navbar-logo {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.navbar {
  z-index: 10;
  padding: 1rem var(--section-padding-x);
  position: fixed;
  width: 100%;
  max-width: 1536px;
  background-color: var(--background-color);
}
.navbar-links {
  gap: clamp(1rem, 5vw, 2rem);
  color: var(--color);
}

.light-mode {
  --nav-items-color: black;
}
.dark-mode {
  --nav-items-color: white;
}
.side-navbar-btn {
  display: none;
  font-size: xx-large;
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem var(--section-padding-x);
  }
}
@media (max-width: 480px) {
  .navbar {
    padding: 0.5rem var(--section-padding-x);
  }
  .display-none {
    display: none;
  }
  .side-navbar-btn {
    display: block;
  }
  .larger-nav-items {
    font-size: 1.5rem;
  }
}
